* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html {
    font-size: 62.5%;
}

body 
{
    color:#0f3063;
    text-align: center;
    font-family: "Arial";
}

#cabecera {
    background: #01f8e4;
    box-shadow: 0px 2px 20px 0px #17d476;
    color: hsl(0, 85%, 10%);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
} 

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ccc;
    margin: 0 auto;
}
#container h1 {
    font-size: 30px;
    text-align: center;
}
